@import url(https://fonts.googleapis.com/css?family=Roboto);

header{

    margin: O 10px 0 10px ;
    background: #3E4E59;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 60px;
    position: fixed;
    top :2px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 10px;
    align-items: center;
    align-content: center;
    left :0px;
    right: 0px;
    z-index: 30;
}
.factfour
{
border:solid 1px grey;
padding: 0 auto;
padding:0 10Px;
}
.contart
{
    height:50%;
   border:solid 1px grey;
   padding: 0 auto;
   padding:0 10Px;

}
.hidden
{
display:none;
}
.litinput
{
width:20%;
}
table{
    display: table;
    border: 1px solid ;


    max-width: 600px;
    min-width 100%;
    border-collapse: collapse ;
    margin: 50px auto;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
header nav span{
    margin: 5px;
}
.tab{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btaff
{
    padding: 0 auto;
    padding: 20px;
    margin-left: 25%;
    display: flex;
    align-items: center;
}
.btaff input
{
    width: 20%;
    height: 30px;
}
.btaff button
{
    height: 30px;
    width: 20%;
    border: none;
    background: #f25652;
    padding: 5px!important;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.fact
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}
.col
{
display:flex;
flex-direction:column;
}
th {

    background: #f25652;
    height: 54px;
    width: 25%;
    color: white;

    text-align: center;
    text-shadow: 0 1Px 0 #38678f;
}
tr{
    border-bottom: 1px solid #cccccc;
}
td{
    height: 40px;
    padding: 10px;
    text-align: center;
}

.fact h4, h2
{
    color: gray !important;
    margin: 0;
}

header h1
{
    margin: 5px;
}
header nav
{
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
}
html, body, .stage--fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #efefef;
}
#wall{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;


    top: 91px;

}
.flexcolcenter table
{


    max-width: 100%;
    min-width 100%;

}
.flexcenterb td {
width:300px!important;
}
.wallleft{

    background: white;
    flex: 2;
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;


    display: flex;
    flex-direction: column;

    height: 800px;

}
#bp
{
 flex: 1;
    margin: 10px;
}
#bp input
{
    width: 100%;
    height: 100%;
}
#bl
{
    flex: 3;
    margin: 10px;
    border: solid 1px ;
    border-color: darkgrey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: -100px;
    border-radius: 10px;
    overflow-y: scroll;

}
.BtBig
{

 background: coral!important;
    width: 90%!important;
    min-height: 60px;
}
.sercrch
{
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 40px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: white;
    top: 95px;
    padding: 5px;
    margin: 10px;
}
.t{
    position: relative;
}
.sercrch input:nth-child(1)
{
    flex:3;

}
.inputupc
{
width :30px!important;
}
.sercrch input:nth-child(2)
{
    flex: 2;
    background: #F25652;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
#codep h2{
    text-align: center;
}
.upprod input{
    margin: 0 auto;

}
.factt
{
    color: gray !important;
    font-size: 20px;
    font-weight: bold;
    margin:  40px;
    text-align: center;
}

.upprod
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.btpayemnt{

    background: coral!important;
    width: 90%!important;
    min-height: 60px;
}
.submit{
    background: #f25652;
    width: 100%!important;
    min-height: 60px;
    color: white;
    border: none;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.submit2{
    background: #f25652;
    width: 20%!important;
    min-height: 30px;
    color: white;
    border: none;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#bp input{
    color: white;
    font-size: 30px;
    background: #f25652;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
}
.wallright{
    flex:7;

    padding: 10px  10px 10px 10px;
    background: white;
    margin: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    overflow :auto;



}
#clav
{
 position: fixed;
    top: 180px;
    right: 60px;
    width: 72.5%;
    background: white;

}
#bl
{
    display: flex;
    flex-direction: column;
    align-items: center;


}
#bl div {
    display: flex;
    flex-direction: row;

    width: 100%;
}
#idtot
{
        display: flex;
    align-items: center;
    justify-content: center;
}
#valid{
    background: green!important;
    color: white;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#btsu{
    background: #F25652!important;
    color: white;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#clav div
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clav button
 {
    margin: 5px;
    width: 30%!important;
    height: 75px;

 }
.flexrow{
    display: flex;
    flex-direction:row;
    max-width: 100%;
    flex-wrap: wrap;
}
.flexrow2{
    display: flex;
    flex-direction:row;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flexrow2 div {
    margin: 40px;
}
#bl button {
    margin: 4px;
    flex: 1;
    width: 33%;
    height: 50px;
    background: #3E4E59;
    color: white;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


.btts{

 width: 30px!important;
    height: 30px!important;
    -moz-border-radius: 50%!important;
    background: #F25652!important;
    color: white;
    border: none;
    -webkit-border-radius: 50%!important;
    border-radius: 50%!important;
}

#bl input{
    width: 93%;
    height: 20%;
}
#bl p {
    margin: 2px;
}
.checkb
{
   width:30px;
   margin: 50px 0 0 0;
   height:60px;
}

.article
{

    background: #3E4E59;
    color: white;
    border: none;
    width: 120px!important;
    margin: 10px 10px 10px 10px;
    height: 110px!important;
    min-width: 110px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btclient{
    padding: 10px;
    margin-left: 10px;
    background: #3E4E59;
    color: white;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;


}
.cont
{
    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
}
.cont input
{
    width: 95%;
    margin: 5px;

    text-align: center;
}
.cont .Bto
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 400px!important;
    margin: 5px;
    height: 40px!important;
    text-align: center;
    background: #F25652;
    border: none;
    color: white;
}
@media print {
    header{
        display: none;
    }
    #codep{
        display: none!important;
    }
    .flexrow2 div
    {
        margin: 0!important;
    }
    .flexrow2{
        margin: 0!important;
    }
    .flexrow2 div h2 {
        font-size: 15px !important;
    }

    .flexrow2 div p
    {
        font-size: 15px!important;
    }
    .flexrow img
    {
    width: 25%!important;
        height: 25%!important;

    }
    .factt {

        font-size: 15px!important;
        margin: 0!important;
    }
    #wall
    {
        top:0;
        width:100%!important;
    }
    .hid
    {
    display:none;

    }
    .tab{
        display: flex;
        flex-direction: column;
        width:100%!important;
        align-items: center;
    }
      page-breaker {
        page-break-before: always;
        }


}
